body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100dvh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  position: relative;
  overscroll-behavior-y: contain;
  overflow-y: hidden;
}
.remote {
  width: 4cm;
  height: 10cm;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 12px;
  cursor: pointer;
}
.button.power {
  background-color: #000 !important;
}
div {
  user-select: none;
}
i {
  font-size: x-large;
  font-weight: light;
  color: #000;
}
i.fa-power-off {
  color: #fff;
}
.buttons {
  display: flex;
  gap: 40px;
  margin-bottom: 8mm;
}
.label {
  position:fixed;
  font-size: 3.5mm;
}
.label.light {
  margin-left: 4.1mm;
  margin-top: 16.4mm;
}
.label.power {
  margin-left: 30.4mm;
  margin-top: 16.4mm;
}
.label.wind {
  margin-left: 17.5mm;
  margin-top: 6.4mm;
}
.buttons.wind {
  border-color: #ccc;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  padding: 0.4mm;
}
.label.planshut {
  margin-left: 1.1mm;
  margin-top: 16.4mm;
}
.label.planopen {
  margin-left: 27.1mm;
  margin-top: 16.4mm;
}
center.wind {
  font-size: 4.5mm;
}